body {
  font-family: "Arial", sans-serif;
  background: #f7d59c;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative; /* Ensure footer placement at the bottom */
}

#content {
  width: 80%;
  max-width: 600px;
  margin: auto;
  background: #fff7e6;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 2px solid #e6ba8f;
}

h1 {
  color: #d35400;
  text-align: center;
  margin: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="radio"],
button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #d35400;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e67e22;
}

button:disabled {
  background-color: #cccccc;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 36px;
  background: #fff7e6; /* Matches rgb(255, 247, 230) */
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.poll-bar {
  background-color: #f0f0f0; /* Matches rgb(240, 240, 240) */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  border-radius: 5px 0 0 5px;
}

.poll-text {
  z-index: 2;
  margin-left: 10px;
  font-weight: normal;
  white-space: nowrap;
  padding-left: 10px;
}

#addOptionButton,
#createPollButton {
  margin-top: 20px;
}

#pollOptions {
  display: flex;
  flex-direction: column;
}

footer {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  text-align: right;
}

.vote-option {
  display: block;
  padding: 10px;
  margin: 5px 0;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid transparent; /* Maintain layout on focus */
}

.vote-option:hover {
  background-color: #e8e8e8;
}

.vote-option input[type="radio"] {
  margin-right: 10px;
}

/* Additional Styles for Checked Radio */
.vote-option input[type="radio"]:checked + span {
  font-weight: bold;
}
